/*** Desktop ***/
.card {
    width: 340px;
    height: 340px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.cardBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.cardCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cardTitle {
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 18px;
}

/*** Mobile ***/
@media (max-width:768px) {
    .card {
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        width: 100%;
    }
}