@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*** Couleurs ***/
.primary {
    color: #FF6060;
}

.primaryBackground {
    background-color: #FF6060;
}

.secondaryBackground {
    background-color: #F6F6F6;
  }